@media screen and (max-width: 600px) {
    .logicLogo {
        display: none;
    }
}

.bookCarBtn {
    background-color: #013049 !important;
}
.bookCarBtn:hover {
    background-color: #013049e8 !important;
}

.loginBtn {
    margin-right: 20px !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    font-family: sans-serif !important;
    padding: 0px !important;
    text-transform: capitalize !important;
    color: #013049 !important;
}

.language {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.currency {
    display: flex;
    align-items: center;
    margin-right: 5px;
}